*{
    margin: 0;
    padding: 0;
}
.front{
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 95, 95);
    overflow: hidden;
}
.front .box1{
    font-size: 50px;
    text-align: center;
    padding: 120px;
    padding-top: 5em;
    letter-spacing: 1px;
    transition: all 2s ease-in-out;
}
.front .box1:hover{
    transform: scale(1.5);
    color: azure;
}
.resume{
    width: 100%;
    height: 190vh;
    background: rgb(225, 225, 240);
    overflow: hidden;
    text-align: center;
}
.resume .name h1{
    font-size: 55px;
    text-align: center;
    padding-top: 40px;
    background-color: rgb(68, 99, 53);
    color:rgb(241, 239, 70);
    padding: 90px;
    letter-spacing: 1px;
    transition: all 2s ease-in-out;
}
.resume .name h1:hover{
    transform: scale(1.3);
    color: rgb(209, 219, 219);
}
.resume .main{
    padding: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5em
    font-family: 'Times New Roman', Times, serif;
    
}
.resume .main h3{
    font-size: 35px;
    color: rgb(120, 79, 197);
    letter-spacing: 1px;
}
.resume .main .education h4{
    color: rgb(94, 94, 221);
    font-size: 30px;
    letter-spacing: 1px;
}



.resume .main h3, h4, p{
    padding: 15px;
}
.resume .main hr{
    padding-left: 50%;

}